/.vscode
/client
/mmap1.c++
/mmap2.c++
/mmap_socket_client
/receiver
/run.sh
/sender
/server
/socket-client.c++
/socket-server.c++
p1
p2
p1-g
p2-g
shm_open
Benchmark.o
Connection.o
main.o
program
a.out
*.json
*_results
perf*
*test*
*.png
/data